// Core variables and mixins
// @import "./bootstrap-custom-variables";
@import "./custom_variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

body {
  background-color: $meli-gray-lighther;
  color: $meli-dark;
}

.header-meli {
  background-color: $meli-yellow;
}
.navbar {
  background-color: $meli-yellow;
  margin-bottom: 0px;
  border: none;
}

.navbar-brand {
  padding: 7px 0px;
}

.search {
  padding: 7px;
  margin-left: -25px;
}

.search-button {
  background-color: $meli-gray-lighther;
  border-color: none;
}

.breadcrumb {
  font-size: 14px;
  background-color: inherit;
  padding: 0px;
  margin-bottom: 0px;
  padding-top: $meli-distance-small;
  padding-bottom: $meli-distance-small;
}

.breadcrumb > li + li:before {
  content: "> ";
}

.breadcrumb a {
  color: $meli-gray-light;
}

/* loading progress bar styles */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: $meli-brand-primary;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $meli-brand-primary, 0 0 5px $meli-brand-primary;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

@import "./items";
@import "./item";
