/*  detail */

.main-detail {
  margin: 0;
  padding: $meli-distance-long;
  background-color: white;
  margin-bottom: 50px;


  .detail {
    margin: 0px;
  }

  .img-container__full {
    padding: 0px;
  }

  .img-container__full img {
    width: 100%;
  }

  .item-description {
    padding-top: $meli-distance-long;
  }

  .item-description div h3 {
    padding-bottom: $meli-distance-long;
    margin: 0px;
  }

  .item-description div p {
    margin-bottom: $meli-distance-long;
  }

  .shop-container {
    padding: 0;
  }

  .status_info {
    font-size: 14px;
    margin-bottom: $meli-distance-small;
  }
  .status_info div {
    padding: 0px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: $meli-distance-long;
  }

  .title div {
    padding: 0;
  }

  .price {
    font-size: 46px;
    margin-bottom: $meli-distance-long;
  }

  .price div {
    padding: 0;
  }

  .shop-button-container {
    padding-left: 0;
  }

  .shop-button {
    background-color: $meli-brand-primary;
    border-color: $meli-brand-primary;
  }
}
