.main {
  margin: 0;
  padding-left: $meli-distance-small;
  padding-right: $meli-distance-small;
  background-color: white;
  margin-bottom: 50px;

  .item {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: $meli-distance-small;
    padding-bottom: $meli-distance-small;
    border-bottom: 1px solid $meli-gray-lighther;
  }

  .img-container {
    padding: 0px;
    padding-right: $meli-distance-small;
    width: 180px;
  }

  .thumbnail {
    padding: 0px;
    margin-bottom: 0px;
    border: none;
  }

  .thumbnail a img {
    height: 180px;
    width: 180px;
    margin: 0px;
  }

  .price_container {
    font-size: 24px;
    padding: 0px;
    padding-bottom: $meli-distance-long;
  }

  .free_shipping {
    vertical-align: baseline;
    margin-left: 5px;
  }

  .state_name {
    font-size: 12px;
  }

  .tite-container {
    margin: 0px;
    padding: 0px;
  }

  .title {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }

  .title a {
    color: inherit;
    text-decoration: none;
  }

  /* this padding is not defined, but in designs it exists */
  .info {
    padding-top: $meli-distance-small;
  }
}
